@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
  @apply bg-background-light text-text-light dark:bg-background-dark dark:text-text-dark;
}

/* Custom scrollbar for chat */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-secondary-light dark:bg-secondary-dark;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-primary-light dark:bg-primary-dark;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-primary-dark dark:bg-primary-light; /* Slightly adjust hover color */
  }

/* Fade-out animation for expiring messages */
@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.fade-out {
  animation: fadeOut 0.5s forwards;
}

/* Disable hover effects on touch devices */
@media (hover: none) {
  * {
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
  }

  a, button, input, textarea, select, [role="button"] {
    cursor: default !important;
  }

  /* Remove hover styles */
  *:hover {
    background-color: initial !important;
    color: initial !important;
    border-color: initial !important;
    box-shadow: initial !important;
    transform: initial !important;
    opacity: initial !important;
  }
}